<!DOCTYPE HTML>

<html dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Reno Gibson :: IT, Web Development, Ideas, &amp; Life! | <%= "| #{@page_title}" if @page_title %></title>
    <meta name="author" content="Reno Gibson">
    <meta name="viewport" content="width=770" />
    
    <%= stylesheet_link_tag('reset', 'public', :media => 'all') %>
  </head>
  
  <body>
	  
<div id="wrapper">
<div id="header">

<h1 id="masthead">
  
   <%= image_tag "masthead.gif" %> 
  
  </h1>
  </div>
  
  

<div id="maincontent">


<p>Lorem ipsum dolor sit amet, sollicitudin sed sed. Mus excepturi, euismod sit ut luctus elit arcu odio, erat alias odio quaerat et itaque. Viverra dolor, gravida amet phasellus adipiscing lacus habitasse, orci et cursus dolor et amet cillum. Felis justo dui sed consequat sodales, diam ante aliquet elit, in proin in mauris arcu tortor nulla, ac pellentesque quis in fermentum lobortis. Odit orci suspendisse per, orci suspendisse praesent nam sapien in massa. Nulla tempus etiam, metus maecenas mauris, suspendisse mollis dictumst nullam, in mi. Gravida faucibus tenetur id odio, tristique eget gravida in non, facilisis lacus eu ut montes. Eget ullamcorper a. Donec eget, suscipit vitae integer diam dui non. Morbi vel ac dolor sem ultrices, a semper lectus, at nunc sollicitudin, sociosqu nec in bibendum, risus sollicitudin et sit blandit lacus rhoncus. Pede accusantium rutrum orci aliquam eu, vel a imperdiet quisque sit id, sit tempor tristique purus hendrerit. Pellentesque sed, ac odio, turpis integer tellus dictum ut, molestie mattis velit augue nec cursus, sagittis in porttitor.

Hic eu, maecenas netus nulla nulla viverra, eum donec ut in nulla ipsum wisi, tincidunt nulla. Tincidunt pellentesque, morbi dui lorem arcu nonummy, duis taciti vel elit sit. Sed at suspendisse non, nulla quam morbi taciti semper pharetra, nisl ut, maecenas ante bibendum pretium varius, quis donec suspendisse netus. Sodales posuere in eleifend, pellentesque in, urna condimentum. Sed velit, metus ipsum quisque vestibulum sed maecenas mus, libero aenean, risus ut massa lorem pede, eget sint mi quis risus sem id.

Magna a, sed amet quis mauris turpis est, amet pulvinar sit sollicitudin. Vestibulum tellus. Perferendis sodales a velit, porta tellus erat mollis neque, at animi. Et sociosqu rhoncus sit nec. Id et, ut sed, eu odio rhoncus aliquet in, vel velit a, lacus ut sed erat amet donec. Vivamus diam. Tempor sollicitudin amet lacinia rhoncus ut lacinia, natoque phasellus quis cursus amet lacus. Tempus ipsum at arcu in lorem, porttitor sed eget pellentesque sit porttitor ultricies.

Quis quam mauris arcu nunc quam duis, est dolor dui, morbi sit odio aliquam lorem eleifend, libero tristique neque tristique. Ridiculus mollis sed cum non, urna donec vestibulum. At fringilla ipsum mauris risus dui, faucibus parturient in penatibus ac aliquet. Senectus sociosqu suspendisse dictumst nulla vel metus. Pharetra consequat neque nunc pellentesque erat, turpis turpis arcu eget. Viverra turpis augue sed.
+
Sed velit, metus ipsum quisque vestibulum sed maecenas mus, libero aenean, risus ut massa lorem pede, eget sint mi quis risus sem id. Magna a, sed amet quis mauris turpis est, amet pulvinar sit sollicitudin. Vestibulum tellus. Perferendis sodales a velit, porta tellus erat mollis neque, at animi. Et sociosqu rhoncus sit nec. Id et, ut sed, eu odio rhoncus aliquet in, vel velit a, lacus ut sed erat amet donec. Vivamus diam. Tempor sollicitudin amet lacinia rhoncus ut lacinia, natoque phasellus quis cursus amet lacus. Tempus ipsum at arcu in lorem, porttitor sed eget pellentesque sit porttitor ultricies. Quis quam mauris arcu nunc quam duis, est dolor dui, morbi sit odio aliquam lorem eleifend, libero tristique neque tristique. Ridiculus mollis sed cum non, urna donec vestibulum. At fringilla ipsum mauris risus dui, faucibus parturient in penatibus ac aliquet. Senectus sociosqu suspendisse dictumst nulla vel metus. Pharetra consequat neque nunc pellentesque erat, turpis turpis arcu eget. Viverra turpis augue sed. + 
</p>
</div>
<div id="sidebar">
<div id="navigation">
        <%= render(:partial => 'layouts/navigation', :locals => {:subjects => @subjects}) %>
      </div>


<p>



</p>
</div>

<div id="footer">

<p id="credits">

<a href="/copyright/">Copyright</a>
&copy;2011
<a href="/about/">Reno Gibson</a>
Atlanta,Ga<br>

<a href="/about/">About</a>
,
<a href="/contact/">Contact</a>
,
<a href="/desktop/">Desktops</a>
,
<a href="/subscribe/">Subscribe (RSS)</a>
</p>
</p>
</div>


</div>
</body>


</html>


